@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.navbar {
  background-color: #f0f3f2;
  /*color: #000;*/
  /*padding: 8px;*/
  /*display: block;*/
}

.flex {
  display: flex;
  /* flex-wrap: wrap; */
}

.padding7 {
  padding-right: 10px;
}

.justify-content {
  justify-content: space-between;
  align-items: center;
}

.color {
  color: #8d8382;
}

.width {
  max-width: 1100px;
  margin: 0px auto 0px auto;
}

.content {
  position: relative;
  display: inline-block;
  padding: 2px 5px;
}

.content1 {
  position: absolute;
  display: none;
  border-bottom: 1px #fff solid;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px #000;
  padding: 12px 16px;
  border-radius: 5px;
}

.content:hover .content1 {
  color: #8d8382;
  display: block;
  border: 1px #fff solid;
  background-color: #fff;
  padding: 8px;
}

.padding-t-b {
  padding: 5px 0;
}

.color1 {
  color: #0aad0a;
  background-color: #fff;
  /*padding: 5px 10px;*/
  /*padding: 5px;*/
}

.color2 {
  color: #8d8382;
  background-color: #fff;
  padding: 5px 12px;
}

.color0 {
  color: #8d8382;
  background-color: #fff;
  padding: 5px 0px 5px 12px;
}

.size {
  margin-bottom: 0px;
  font-size: 25px;
}
.absolute {
  position: absolute;
  padding-left: 70%;
  padding-top: 11px;
  color: #8d8382;
}
.relative {
  position: relative;
}

.absolute1 {
  position: absolute;
  padding-left: 10%;
  padding-top: 11px;
  color: #8d8382;
}
.width1 {
  border-radius: 5px;
  border-color: #dfe2e1;
  border-width: 1px;
  padding: 10px;
}

.size1 {
  padding: 10px 30px;
  background-color: green;
  border-width: 1px;
  border-color: green;
  border-radius: 5px;
  color: #fff;
}
.color3 {
  padding: 0px 5px;
  color: #63747b;
}

.padding {
  padding: 5px;
}

.padding1 {
  padding-right: 40px;
  padding-left: 0px;
}

.banner {
  border-radius: 5px;
  /*margin: 50px 66px;*/
  text-decoration: overline;
  margin-top: 30px;
}

.absolute3 {
  position: absolute;
  /*padding-right: 70%;*/
  /*padding-bottom: 70%;*/
  top: 35%;
  right: 50%;
  /*color: #fff;*/
  font-size: 100%;
  /*font-weight: bolder;*/
}

.border {
  border: 1px #001e2b solid;
  background-color: #001e2b;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  color: #fff;
}

.gap {
  padding-top: 20px;
}

.clr {
  color: #8d8382;
  font-size: 50px;
}

.product {
  border: 1px #f0f3f2 solid;
  padding: 20px;
  background-color: #fff;
  align-items: center;
  text-align: center;
  margin: 15px 0px;
  border-radius: 5px;
}
.space {
  margin-right: 15px;
}

.gap1 {
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.gap2 {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.green {
  color: yellow;
  background-color: #fff;
  padding: 10px 0px;
}

.border1 {
  border: 1px green solid;
  background-color: green;
  padding: 5px;
  border-radius: 5px;
  /*margin-top: 5px;*/
  color: #fff;
}

.border3 {
  background-color: #fff;
  border: 1px #000 solid;
  margin: 5px;
  padding: 5px;
}

.absolute4 {
  position: absolute;
  top: 3%;
  left: 5%;
  color: #fff;
}

.border4 {
  border: 1px green solid;
  background-color: green;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  color: #fff;
}

.space3 {
  margin: 20px 7px 10px 0px;
  padding-top: 15px;
  padding-right: 10px;
}

.size3 {
  font-size: 10%;
}

.border5 {
  border-top: 2px #eceeee solid;
  border-bottom: 2px #eceeee solid;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.gap5 {
  padding-right: 20px;
}

.b {
  border: 2px #eceeee solid;
  /*background-color: #fff;*/
  padding: 7px;
  font-size: 25px;
  margin: 7px;
  border-radius: 4px;
  color: #889397;
}

.c {
  padding-right: 7px;
}

.color8 {
  background-color: #001e2b;
}

.padding9 {
  padding: 10px 0px;
}

.color00 {
  color: #69747a;
  line-height: 25px;
}

.space3 {
  line-height: 25px;
}

.bck {
  color: #414a54;
}

@media (max-width: 600px) {
  .margin {
    margin: 0 2vw;
  }
  .navbar {
    margin: 0 !important;
  }

  .flex {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .display {
    display: none;
  }
  .displays {
    display: none;
  }
  .navbar .flex {
    flex-direction: none !important;
  }
  .navbar span {
    justify-content: center;
  }
  header .flex {
    flex-direction: row !important;
  }
  section {
    display: none;
  }
  .start {
    align-items: start !important;
  }
  .absolute3 {
    position: absolute;
    /*padding-right: 70%;*/
    /*padding-bottom: 70%;*/
    top: 25%;
    right: 40%;
    /*color: #fff;*/
    font-size: 2vw;
    /*font-weight: bolder;*/
  }
  .absolute3 span {
    font-size: 2vw;
    margin: 0 2vw;
  }
  .absolute3 h1 {
    font-size: 5vw !important;
    margin: 0 2vw;
    padding: 0 !important;
    line-height: 6.5vw;
  }
  .absolute3 p {
    font-size: 2vw !important;
    padding: 1vw 0 !important;
    margin: 0 2vw;
  }
  .absolute3 button {
    padding: 0.5vw !important;
    margin: 0 2vw;
  }
  .nodisplay {
    display: none;
  }
  .textcenter h2 {
    text-align: center;
    margin: 4vw 0;
  }
  .product .flex {
    flex-direction: row !important;
  }
  .noflex {
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }
  .gap1 {
    margin-top: 20px;
    margin-right: 0 !important;
    margin-bottom: 20px;
  }

  .gap2 {
    margin-top: 20px;
    margin-left: 0 !important;
    margin-bottom: 20px;
  }
  footer .flex {
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }
  .space3 {
    margin: 20px 0 10px 0px;
    padding-top: 15px;
    padding-right: 0;
  }
  .gap5 {
    padding-right: 10px !important;
  }
  .c {
    padding-left: 0 !important;
  }
  .textcenter {
    text-align: center !important;
  }
}

@media (min-width: 601px) and (max-width: 1050px) {
  .margin {
    margin: 0 2vw;
  }
  .navbar {
    margin: 0 !important;
  }

  .flex {
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  .displays {
    display: none;
  }
  .navbar .flex {
    flex-direction: none !important;
  }
  .navbar span {
    justify-content: center;
  }
  header .flex {
    flex-direction: row !important;
  }
  section {
    display: none;
  }
  .start {
    align-items: start !important;
  }
  .absolute3 {
    position: absolute;
    /*padding-right: 70%;*/
    /*padding-bottom: 70%;*/
    top: 25%;
    right: 40%;
    /*color: #fff;*/
    font-size: 2vw;
    /*font-weight: bolder;*/
  }
  .absolute3 span {
    font-size: 2vw;
    margin: 0 2vw;
  }
  .absolute3 h1 {
    font-size: 5vw !important;
    margin: 0 2vw;
    padding: 0 !important;
    line-height: 6.5vw;
  }
  .absolute3 p {
    font-size: 2vw !important;
    padding: 1vw 0 !important;
    margin: 0 2vw;
  }
  .absolute3 button {
    padding: 0.5vw !important;
    margin: 0 2vw;
  }
  .nodisplay {
    display: none;
  }
  .textcenter h2 {
    text-align: center;
    margin: 4vw 0;
  }
  .product .flex {
    flex-direction: row !important;
  }
  .noflex {
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }
  .gap1 {
    margin-top: 20px;
    margin-right: 0 !important;
    margin-bottom: 20px;
  }

  .gap2 {
    margin-top: 20px;
    margin-left: 0 !important;
    margin-bottom: 20px;
  }
  footer .flex {
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }
  .space3 {
    margin: 20px 0 10px 0px;
    padding-top: 15px;
    padding-right: 0;
  }
  .gap5 {
    padding-right: 10px !important;
  }
  .c {
    padding-left: 0 !important;
  }
  .textcenter {
    text-align: center !important;
  }
  .justify .justify-content {
    justify-content: center !important;
  }
  /* .justify-content {
    justify-content: space-evenly;
  } */
}
